---

#############################################
############  Controller driver  ############
#############################################

kind: Deployment
apiVersion: apps/v1
metadata:
  name: hpe-csi-controller
  namespace: kube-system
spec:
  replicas: 1
  selector:
    matchLabels:
      app: hpe-csi-controller
  template:
    metadata:
      labels:
        app: hpe-csi-controller
        role: hpe-csi
    spec:
      priorityClassName: system-cluster-critical
      serviceAccount: hpe-csi-controller-sa
      hostNetwork: true
      dnsPolicy: ClusterFirstWithHostNet
      containers:
        - name: csi-provisioner
          {{- if semverCompare "=1.12.0" .Capabilities.KubeVersion.GitVersion }}
          image: {{ .Values.csiProvisionerImage}}: {{- .Values.csiProvisionerTagv0}}
          {{- else if semverCompare "=1.13.0" .Capabilities.KubeVersion.GitVersion }}
          image: {{ .Values.csiProvisionerImage}}: {{- .Values.csiProvisionerTagv1}}
          {{- else }}
          image: {{ .Values.csiProvisionerImage}}: {{- .Values.csiProvisionerTagv2}}
          {{- end }}
          args:
            - "--csi-address=$(ADDRESS)"
            - "--v=5"
          env:
            - name: ADDRESS
              value: /var/lib/csi/sockets/pluginproxy/csi.sock
          imagePullPolicy: "Always"
          volumeMounts:
            - name: socket-dir
              mountPath: /var/lib/csi/sockets/pluginproxy
        - name: csi-attacher
          {{- if semverCompare "=1.12.0" .Capabilities.KubeVersion.GitVersion }}
          image: {{ .Values.csiAttacherImage}}: {{- .Values.csiAttacherTagv0}}
          {{- else if semverCompare "=1.13.0" .Capabilities.KubeVersion.GitVersion }}
          image: {{ .Values.csiAttacherImage}}: {{- .Values.csiAttacherTagv1}}
          {{- else }}
          image: {{ .Values.csiAttacherImage}}: {{- .Values.csiAttacherTagv2}}
          {{- end }}
          args:
            - "--v=5"
            - "--csi-address=$(ADDRESS)"
          env:
            - name: ADDRESS
              value: /var/lib/csi/sockets/pluginproxy/csi.sock
          imagePullPolicy: "Always"
          volumeMounts:
            - name: socket-dir
              mountPath: /var/lib/csi/sockets/pluginproxy
        - name: csi-snapshotter
          {{- if semverCompare "=1.12.0" .Capabilities.KubeVersion.GitVersion }}
          image: {{ .Values.csiSnapshotterImage}}: {{- .Values.csiSnapshotterTagv0}}
          {{- else if semverCompare "=1.13.0" .Capabilities.KubeVersion.GitVersion }}
          image: {{ .Values.csiSnapshotterImage}}: {{- .Values.csiSnapshotterTagv1}}
          {{- else }}
          image: {{ .Values.csiSnapshotterImage}}: {{- .Values.csiSnapshotterTagv2}}
          {{- end }}
          args:
            - "--csi-address=$(ADDRESS)"
            - "--v=5"
          env:
            - name: ADDRESS
              value: /var/lib/csi/sockets/pluginproxy/csi.sock
          imagePullPolicy: "Always"
          volumeMounts:
            - name: socket-dir
              mountPath: /var/lib/csi/sockets/pluginproxy
        {{- if semverCompare ">=1.14.0" .Capabilities.KubeVersion.GitVersion }}
        - name: csi-resizer
          image: {{ .Values.csiResizerImage}}: {{- .Values.csiResizerTag}}
          args:
            - "--csi-address=$(ADDRESS)"
            - "--v=5"
          env:
            - name: ADDRESS
              value: /var/lib/csi/sockets/pluginproxy/csi.sock
          imagePullPolicy: "Always"
          volumeMounts:
            - name: socket-dir
              mountPath: /var/lib/csi/sockets/pluginproxy
        {{- end }}
        - name: hpe-csi-driver
          image: {{ .Values.csiDriverImage}}: {{- .Values.csiDriverTag}}
          args :
            - "--endpoint=$(CSI_ENDPOINT)"
            - "--flavor=kubernetes"
          env:
            - name: CSI_ENDPOINT
              value: unix:///var/lib/csi/sockets/pluginproxy/csi.sock
          imagePullPolicy: "Always"
          volumeMounts:
            - name: socket-dir
              mountPath: /var/lib/csi/sockets/pluginproxy
            - name: log-dir
              mountPath: /var/log
            - name: k8s
              mountPath: /etc/kubernetes
            - name: hpeconfig
              mountPath: /etc/hpe-storage
      volumes:
        - name: socket-dir
          emptyDir: {}
        - name: log-dir
          hostPath:
            path: /var/log
        - name: k8s
          hostPath:
             path: /etc/kubernetes
        - name: hpeconfig
          hostPath:
              path: /etc/hpe-storage