---

#############################################
############  Controller driver  ############
#############################################

kind: Deployment
apiVersion: apps/v1
metadata:
  name: hpe-csi-controller
  namespace: {{ .Release.Namespace }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: hpe-csi-controller
  template:
    metadata:
      labels:
        app: hpe-csi-controller
        role: hpe-csi
    spec:
      serviceAccount: hpe-csi-controller-sa
      hostNetwork: true
      dnsPolicy: ClusterFirstWithHostNet
      containers:
        - name: csi-provisioner
          {{- if semverCompare "~1.12.0" .Capabilities.KubeVersion.GitVersion }}
          image: {{ .Values.csiProvisionerImage}}: {{- .Values.csiProvisionerTagv0}}
          {{- else }}
          image: {{ .Values.csiProvisionerImage}}: {{- .Values.csiProvisionerTagv1}}
          {{- end }}
          args:
            - "--csi-address=$(ADDRESS)"
            - "--v=5"
            {{- if semverCompare ">= 1.13.0" .Capabilities.KubeVersion.GitVersion }}
            - "--timeout=30s"
            - "--worker-threads=4"
            {{- end }}
          env:
            - name: ADDRESS
              value: /var/lib/csi/sockets/pluginproxy/csi.sock
          imagePullPolicy: {{ .Values.imagePullPolicy | quote }}
          volumeMounts:
            - name: socket-dir
              mountPath: /var/lib/csi/sockets/pluginproxy
        - name: csi-attacher
          {{- if semverCompare "~1.12.0" .Capabilities.KubeVersion.GitVersion }}
          image: {{ .Values.csiAttacherImage}}: {{- .Values.csiAttacherTagv0}}
          {{- else if semverCompare "~1.13.0" .Capabilities.KubeVersion.GitVersion }}
          image: {{ .Values.csiAttacherImage}}: {{- .Values.csiAttacherTagv1}}
          {{- else }}
          image: {{ .Values.csiAttacherImage}}: {{- .Values.csiAttacherTagv2}}
          {{- end }}
          args:
            - "--v=5"
            - "--csi-address=$(ADDRESS)"
          env:
            - name: ADDRESS
              value: /var/lib/csi/sockets/pluginproxy/csi.sock
          imagePullPolicy: {{ .Values.imagePullPolicy | quote }}
          volumeMounts:
            - name: socket-dir
              mountPath: /var/lib/csi/sockets/pluginproxy
        {{- if semverCompare ">=1.17.0" .Capabilities.KubeVersion.GitVersion }}
        - name: csi-snapshotter
          image: quay.io/k8scsi/csi-snapshotter:v2.0.0-rc4
          args:
            - "--v=5"
            - "--csi-address=$(ADDRESS)"
          env:
            - name: ADDRESS
              value: /var/lib/csi/sockets/pluginproxy/csi.sock
          imagePullPolicy: "Always"
          volumeMounts:
            - name: socket-dir
              mountPath: /var/lib/csi/sockets/pluginproxy/
        - name: snapshot-controller
          image: quay.io/k8scsi/snapshot-controller:v2.0.0-rc4
          args:
            - "--v=5"
          imagePullPolicy: Always
        {{- end }}
        {{- if semverCompare ">=1.15.0" .Capabilities.KubeVersion.GitVersion }}
        - name: csi-resizer
          image: {{ .Values.csiResizerImage}}: {{- .Values.csiResizerTag}}
          args:
            - "--csi-address=$(ADDRESS)"
            - "--v=5"
          env:
            - name: ADDRESS
              value: /var/lib/csi/sockets/pluginproxy/csi.sock
          imagePullPolicy: {{ .Values.imagePullPolicy | quote }}
          volumeMounts:
            - name: socket-dir
              mountPath: /var/lib/csi/sockets/pluginproxy
        {{- end }}
        - name: hpe-csi-driver
          image: {{ .Values.csiDriverImage}}: {{- .Values.csiDriverTag}}
          args :
            - "--endpoint=$(CSI_ENDPOINT)"
            - "--flavor=kubernetes"
          env:
            - name: CSI_ENDPOINT
              value: unix:///var/lib/csi/sockets/pluginproxy/csi.sock
            - name: LOG_LEVEL
              value: {{ .Values.logLevel }}
          imagePullPolicy: {{ .Values.imagePullPolicy | quote }}
          volumeMounts:
            - name: socket-dir
              mountPath: /var/lib/csi/sockets/pluginproxy
            - name: log-dir
              mountPath: /var/log
            - name: k8s
              mountPath: /etc/kubernetes
            - name: hpeconfig
              mountPath: /etc/hpe-storage
      volumes:
        - name: socket-dir
          emptyDir: {}
        - name: log-dir
          hostPath:
            path: /var/log
        - name: k8s
          hostPath:
             path: /etc/kubernetes
        - name: hpeconfig
          hostPath:
              path: /etc/hpe-storage
