---

#############################################
############  Controller driver  ############
#############################################

kind: Deployment
apiVersion: apps/v1
metadata:
  name: hpe-csi-controller
  namespace: {{ .Release.Namespace }}
  labels:
    app: hpe-csi
    role: hpe-csi-controller
spec:
  replicas: 1
  selector:
    matchLabels:
      app: hpe-csi
      role: hpe-csi-controller
  template:
    metadata:
      labels:
        app: hpe-csi
        role: hpe-csi-controller
    spec:
      serviceAccount: hpe-csi-controller-sa
      {{- if semverCompare ">=1.17.0" .Capabilities.KubeVersion.GitVersion }}
      priorityClassName: system-cluster-critical
      {{- end }}
      hostNetwork: true
      dnsPolicy: ClusterFirstWithHostNet
      dnsConfig:
        options:
          - name: ndots
            value: "1"
      containers:
        - name: csi-provisioner
          {{- if semverCompare "<=1.16.0" .Capabilities.KubeVersion.GitVersion }}
          image: quay.io/k8scsi/csi-provisioner:v1.4.0
          {{- else }}
          image: quay.io/k8scsi/csi-provisioner:v1.5.0
          {{- end }}
          args:
            - "--csi-address=$(ADDRESS)"
            - "--v=5"
            {{- if semverCompare ">= 1.13.0" .Capabilities.KubeVersion.GitVersion }}
            - "--timeout=30s"
            - "--worker-threads=16"
            {{- end }}
          env:
            - name: ADDRESS
              value: /var/lib/csi/sockets/pluginproxy/csi.sock
          imagePullPolicy: {{ .Values.imagePullPolicy | quote }}
          volumeMounts:
            - name: socket-dir
              mountPath: /var/lib/csi/sockets/pluginproxy
        - name: csi-attacher
          {{- if semverCompare "~1.13.0" .Capabilities.KubeVersion.GitVersion }}
          image: quay.io/k8scsi/csi-attacher:v1.1.0
          {{- else }}
          image: quay.io/k8scsi/csi-attacher:v2.1.1
          {{- end }}
          args:
            - "--v=5"
            - "--csi-address=$(ADDRESS)"
          env:
            - name: ADDRESS
              value: /var/lib/csi/sockets/pluginproxy/csi.sock
          imagePullPolicy: {{ .Values.imagePullPolicy | quote }}
          volumeMounts:
            - name: socket-dir
              mountPath: /var/lib/csi/sockets/pluginproxy
        {{- if semverCompare ">=1.17.0" .Capabilities.KubeVersion.GitVersion }}
        - name: csi-snapshotter
          image: quay.io/k8scsi/csi-snapshotter:v2.0.1
          args:
            - "--v=5"
            - "--csi-address=$(ADDRESS)"
          env:
            - name: ADDRESS
              value: /var/lib/csi/sockets/pluginproxy/csi.sock
          imagePullPolicy: "Always"
          volumeMounts:
            - name: socket-dir
              mountPath: /var/lib/csi/sockets/pluginproxy/
        {{- end }}
        {{- if semverCompare ">=1.15.0" .Capabilities.KubeVersion.GitVersion }}
        - name: csi-resizer
          image: quay.io/k8scsi/csi-resizer:v0.4.0
          args:
            - "--csi-address=$(ADDRESS)"
            - "--v=5"
          env:
            - name: ADDRESS
              value: /var/lib/csi/sockets/pluginproxy/csi.sock
          imagePullPolicy: {{ .Values.imagePullPolicy | quote }}
          volumeMounts:
            - name: socket-dir
              mountPath: /var/lib/csi/sockets/pluginproxy
        {{- end }}
        - name: hpe-csi-driver
          image: hpestorage/csi-driver:v1.2.0
          args :
            - "--endpoint=$(CSI_ENDPOINT)"
            - "--flavor=kubernetes"
            - "--pod-monitor"
            - "--pod-monitor-interval=30"
          env:
            - name: CSI_ENDPOINT
              value: unix:///var/lib/csi/sockets/pluginproxy/csi.sock
            - name: LOG_LEVEL
              value: {{ .Values.logLevel }}
          imagePullPolicy: {{ .Values.imagePullPolicy | quote }}
          volumeMounts:
            - name: socket-dir
              mountPath: /var/lib/csi/sockets/pluginproxy
            - name: log-dir
              mountPath: /var/log
            - name: k8s
              mountPath: /etc/kubernetes
            - name: hpeconfig
              mountPath: /etc/hpe-storage
            - name: root-dir
              mountPath: /host
        - name: csi-volume-mutator
          image: hpestorage/volume-mutator:edge
          args:
            - "--v=5"
            - "--csi-address=$(ADDRESS)"
          env:
            - name: ADDRESS
              value: /var/lib/csi/sockets/pluginproxy/csi-extensions.sock
          imagePullPolicy: {{ .Values.imagePullPolicy | quote }}
          volumeMounts:
            - name: socket-dir
              mountPath: /var/lib/csi/sockets/pluginproxy/
        - name: csi-extensions
          image: hpestorage/csi-extensions:edge
          args:
            - "--v=5"
            - "--endpoint=$(CSI_ENDPOINT)"
          env:
            - name: CSI_ENDPOINT
              value: unix:///var/lib/csi/sockets/pluginproxy/csi-extensions.sock
            - name: LOG_LEVEL
              value: {{ .Values.logLevel }}
          imagePullPolicy: {{ .Values.imagePullPolicy | quote }}
          volumeMounts:
            - name: socket-dir
              mountPath: /var/lib/csi/sockets/pluginproxy/
      volumes:
        - name: socket-dir
          emptyDir: {}
        - name: log-dir
          hostPath:
            path: /var/log
        - name: k8s
          hostPath:
            path: /etc/kubernetes
        - name: hpeconfig
          hostPath:
            path: /etc/hpe-storage
        - name: root-dir
          hostPath:
            path: /
      {{- if .Values.controller.nodeSelector }}
      nodeSelector:
{{ toYaml .Values.controller.nodeSelector | indent 8 }}
      {{- end }}
      {{- if .Values.controller.tolerations }}
      tolerations:
{{ toYaml .Values.controller.tolerations | indent 8 }}
      {{- end }}
      {{- if .Values.controller.affinity }}
      affinity:
{{ toYaml .Values.controller.affinity | indent 8 }}
      {{- end }}
      terminationGracePeriodSeconds: {{ .Values.controller.terminationGracePeriodSeconds | default 30 }}
