{{ if .Values.secret.create -}}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Values.secret.name }}
  namespace: {{ .Release.Namespace }}
stringData:
  username: {{ .Values.secret.username }}
  password: {{ .Values.secret.password }}
  servicePort: {{ .Values.secret.servicePort | quote }}
  backend: {{ .Values.secret.backend }}
  serviceName: {{ .Values.secret.serviceName }}
{{- end }}