---
apiVersion: storage.hpe.com/v1
kind: HPECSIDriver
metadata:
  name: csi-driver
  namespace: hpe-csi
spec:
  # Default values copied from <project_dir>/helm-charts/hpe-csi-driver/values.yaml
  images:
    # csi-driver
    csiDriverImage: hpestorage/csi-driver:v1.1.0
    # csp-hpe
    cspImage: dockerciuser/hpe_3par_primera_csp:test

  # image pull policy for all images in csi deployment
  imagePullPolicy: 'Always'

  # CSP deployment name
  cspName: hpe3parprimera-csp

  secret:
    # parameters for hpe3parprimera
    create: true
    backend: 192.168.x.x
    username: 3parxxx
    password: 3parxxx
    servicePort: "10000"
    serviceName: hpe3parprimera-csp-svc
    name: hpe3parprimera-secret

  # flavor
  flavor: kubernetes

  # log level for all csi driver components
  logLevel: trace

   ## For creating the StorageClass automatically:
  storageClass:
    create: false

    ## Set StorageClass as the default StorageClass
    ## Ignored if storageClass.create is false
    defaultClass: false

    ## Set a StorageClass name
    ## Ignored if storageClass.create is false
    name: hpe-standard
    # Enable volume resize
    ## Ignored if storageClass.create is false
    allowVolumeExpansion: true
    # Default storage class parameters
    parameters:
      fsType: ext4
      volumeDescription: "Volume created by the HPE CSI Driver for Kubernetes"
      accessProtocol: "iscsi"

  # CRD creation controls
  crd:
    nodeInfo:
      ## For helm v3+ CRD's are handled automatically without this flag.
      ## This flag should be enabled for helm v2+
      create: false

