---
apiVersion: storage.hpe.com/v1
kind: HPECSIDriver
metadata:
  name: csi-driver
spec:
  # Default values for hpe-csi-storage.
  # This is a YAML-formatted file.
  # Declare variables to be passed into your templates.

  # image pull policy for all images in csi deployment
  imagePullPolicy: 'IfNotPresent'

  # log level for all csi driver components
  logLevel: info

  # Control CSP Service and Deployments for HPE storage products
  disable:
    nimble: false
    primera: false
    alletra6000: false
    alletra9000: false

  ## For controlling automatic iscsi/multipath package installation (default: false)
  disableNodeConformance: false

  ## For controlling default configurations performed by HPE CSI plugin on node(s)
  disableNodeConfiguration: false

  ## For enabling the node kernel panic when processes are hung (waiting for IO) for more than 5 minutes
  enableNodePanic: false

  # values for CHAP Authentication
  iscsi:
    chapUser: ""
    chapPassword: ""

  # registry prefix for hpe csi images
  registry: "quay.io"

  # Kubelet root directory path
  kubeletRootDir: "/var/lib/kubelet/"

  # NodeGetVolumestats will be called by default, set true to disable the call
  disableNodeGetVolumeStats: false

  controller:
    # These values map directly to yaml in the deployment spec, see the kubernetes docs for info
    labels: {}

    # These values map directly to yaml in the deployment spec, see the kubernetes docs for info
    nodeSelector: {}

    # These values map directly to yaml in the deployment spec, see the kubernetes docs for info
    tolerations: []

    affinity: {}

  csp:
    # These values map directly to yaml in the deployment spec, see the kubernetes docs for info
    labels: {}

    # These values map directly to yaml in the deployment spec, see the kubernetes docs for info
    nodeSelector: {}

    # These values map directly to yaml in the deployment spec, see the kubernetes docs for info
    tolerations: []

    affinity: {}

  node:
    # These values map directly to yaml in the deployment spec, see the kubernetes docs for info
    labels: {}

    # These values map directly to yaml in the deployment spec, see the kubernetes docs for info
    nodeSelector: {}

    # These values map directly to yaml in the deployment spec, see the kubernetes docs for info
    tolerations: []

    affinity: {}


